<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368836103265-b17tgeec3taip9j4edmk3r4s938gat5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368836103265-b17tgeec3taip9j4edmk3r4s938gat5s</string>
	<key>API_KEY</key>
	<string>AIzaSyByTFIFz3BY_NNAN0oOYplfooHmvN3HqAM</string>
	<key>GCM_SENDER_ID</key>
	<string>368836103265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TommyDinh.OnWardv4</string>
	<key>PROJECT_ID</key>
	<string>onwardv4</string>
	<key>STORAGE_BUCKET</key>
	<string>onwardv4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368836103265:ios:6f417168162e021da2ae20</string>
</dict>
</plist>